<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Test income</title>
</head>
<body>

<form th:method="POST" th:action="@{/api/socks/income}" th:object="${socksDTO}">

    <label for="color">Enter color: </label>
    <input type="text" th:field="*{color}" id="color"/>
    
    <br/>
    <label for="cottonPart">Enter cotton part: </label>
    <input type="text" th:field="*{cottonPart}" id="cottonPart"/>
    
    <br/>
    <label for="quantity">Enter quantity: </label>
    <input type="text" th:field="*{quantity}" id="quantity"/>
    
    <br/>
    <input type="submit" value="Test!"/>
</form>

</body>
</html>